*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-image: url(images/federica-abbinante-AsnexPb9Mfk-unsplashe.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    font-family: 'Jost', sans-serif;
    font-weight:400;
}
.btn {
    border-radius: 2px;
    font-size: larger;
    padding:12px 25px;
    position: relative;
    border: none;
    background-color: #43846b;
    overflow: hidden;
    isolation: isolate;
    color: white;
    box-shadow: 1px 2px 4px #0007;
    transition: background-color 0.2s;
  }
  
  .btn:hover {
    background-color: #3b7c63;
  }
  
  .btn > span {
    position: relative;
    pointer-events: none;
    z-index: 10;
  }
  
  .ripple-container {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(12, 0.5em);
  }
  
  .ripple-container > span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ripple-container > span::after {
    content: "";
    pointer-events: none;
    position: absolute;
    background-color: #589980;
    transition: width 0.5s ease-out, height 0.5s ease-out, opacity 1s;
    width: 13em;
    height: 13em;
    opacity: 0;
    border-radius: 10px;
  }
  
  .ripple-container > span:active::after {
    transition: 0s;
    width: 0em;
    height: 0em;
    opacity: 1;
  }
.main{
    padding-top:5%;
    padding-left:10%;
    color:white
}
.main h1{
    font-size: 26px;
    font-weight:600;
    color:#43846b
}
.main h2{
    font-size: 45px;
    font-weight:600;
    margin-top:-5px
}
.main p{
    font-size: 20px;
    color:rgb(231, 231, 231);
    margin-top:-1%
}
.product{
    margin-top:20%
}
.product_title{
    text-align: center;
}
.product_image{
    max-width:50%;
    margin:10px auto 20px;
    display: block;
}
.product_name{
    text-align:center;
    font-size: 22px;
}
.product_price{
    text-align: center;
    font-size: 20px;
}
.benefits_title{
  text-align: center;
  padding-top:5%;
}
.icons{
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  display:grid;
  grid-gap: 20px;
  max-width:100%;
  grid-template-columns: auto auto auto;
  padding-right:2%
}
.icons h5{
  margin-top:5%
}
.iconn{
  width:20%;
  margin-left: auto;
  margin-right: auto;
}
.whywe_background{
  background-color: #F5EBEB;
  margin-top: -20px;
}
.whywe_title{
  padding-top:5%
}
.whywe_block{
  padding-left:5%;
}
.whywe_text{
  max-width: 58%;
  font-size: 25px;
}
.benefits{
  background-color:#b4d3b2
}
.bamboo-toothbrush_photo{
  width:32%;
  margin-left:58%;
  margin-top:-520px;
  position: absolute;
}
.gallery img{
  width:100%
}
.gallery{
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-content: center;
  grid-gap:10px;
  padding:0px 10% 20px 10%;
  grid-auto-rows: minmax(50px, auto);
}
.bambooco{
  text-align:center
}
footer{
  background-color:black;
}
.btnn{
  display: grid;
  grid-template-columns: auto;
  background-color:transparent;
  color:white;
  font-size:25px;
  padding:2px 0px;
  cursor:pointer;
}
.contactus{
  color:white;
  margin-left:40%;
  font-size:25px;
}
.footer{
  display:flex;
  padding:50px 0px 20px 50px;
}
.titlee{
  color:white;
  font-size: 40px
}
.titlees{
  font-size: 40px;
}